@using Mission11.Infastructure
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Book

<div class="card m-1 p-1">
    <h3>@Model.Title</h3>
    <span class="fst-italic">@Model.Author</span>
    <br />
    <ul class="custom-list">
        <li><strong class="custom-bold">Publisher:</strong> @Model.Publisher</li>
        <li><strong class="custom-bold">ISBN:</strong> @Model.Isbn</li>
        <li><strong class="custom-bold">Classification:</strong> @Model.Classification</li>
        <li><strong class="custom-bold">Category:</strong> @Model.Category</li>
        <li><strong class="custom-bold">Page Count:</strong> @Model.PageCount</li>
        <li><strong class="custom-bold">Price:</strong> $@Model.Price</li>
    </ul>

    <form id="@Model.BookId" method="post" asp-page="/Cart">
        <input type="hidden" asp_for="BookId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <button type="submit" class="btn-outline-success btn-sm float-end">Buy</button>
    </form>

</div>